<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\Dev\Logs\internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="log" fileName="C:\Dev\Logs\log-${shortdate}.log"
            layout="${longdate} ${processname} ${processid} ${level} ${callsite} ${ndc:separator=->} ${message}" />


    <target xsi:type="Null" name="void" />
  </targets>

  <!-- Alternative 1:
       Turn on all logging, except Microsoft, Tracer and Other
       Fails to turn off Tracer. -->
  <rules>
    <!--Ignore certain namespaces-->
    <logger name="Microsoft.*" minlevel="Trace" final="true"  writeTo="void" />
    <logger name="Tracer.*" minlevel="Trace" final="true" writeTo="void" />
    <logger name="LogWeb5.*" minlevel="Trace" final="true" writeTo="void" />

    <!-- Include others -->
    <logger name="*" minlevel="Trace" writeTo="log" />
  </rules>

  <!-- Alternative 2:
       Turn on specific logging
       Fails to turn on Tracer -->
  <!--
  <rules>
    <logger name="Tracer.*" minlevel="Trace" writeTo="log" />
    <logger name="LogWeb5.*" minlevel="Trace" writeTo="log" />
  </rules>-->
  
</nlog>