<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\Dev\Logs\internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="log" fileName="C:\Dev\Logs\log-${shortdate}.log"
            layout="${longdate} ${processname} ${processid} ${level} ${callsite} ${ndc:separator=->} ${message}" />


    <target xsi:type="Null" name="void" />
  </targets>

  <!-- Alternative 1:
       Turn on all logging, except LogWeb5.Controllers -->
  <rules>
    <!--Ignore certain namespaces-->
    <logger name="LogWeb5.Controllers.*" minlevel="Trace" final="true" />

     <!--Include others--> 
    <logger name="*" minlevel="Trace" writeTo="log" />
  </rules>

  <!-- Alternative 2:
       Turn on specific logging for LogWeb5.Controllers -->
  <!--<rules>
    <logger name="LogWeb5.Controllers.*" minlevel="Trace" writeTo="log" />
  </rules>-->
  
</nlog>