<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\Dev\Logs\internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="log" fileName="C:\Dev\Logs\log-${shortdate}.log"
            layout="${longdate} ${processname} ${processid} ${level} ${callsite} ${ndc:separator=->} ${message}" />


    <target xsi:type="Null" name="void" />
  </targets>

  <rules>
    
    <!--Ignore certain namespaces-->
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="xTracer.*" level="Off" final="true" /><!-- Would not work! :( -->
    <logger name="xLogWeb5.*" minlevel="Trace" final="true" /><!-- Would work! :) -->
    
    <!-- Include others -->
    <logger name="*" minlevel="Trace" writeTo="log" />
  
  </rules>
</nlog>